*{
    margin: 0;
    padding: 0;
}

.Navbar{
    background-color: white;
    border: rgb(230, 230, 230) solid 1px;
    height: 87px;
    width: 2000px;
    position: fixed;
    top: 0px;
    z-index: 1;
    /* margin-right: -200px; */
    }

    #logo{
        height: 87px;
        margin-left: 203px;
    }

    a{
        margin-left: 19px;
        font-family: sans-serif, 'Times New Roman', Times, serif;
        color: #0d164b;
        /* padding-bottom: 10px; */
        text-decoration: none;
    }

    .info{
        margin-left: 664px;
        margin-top: -60px;
        /* padding-top: 100px; */
    }

     

    a{
        margin-left: 19px;
        font-family: sans-serif, 'Times New Roman', Times, serif;
        color: #081458;
        padding-bottom: 10px;
        text-decoration: none;
    }

    .info{
        margin-left: 664px;
        margin-top: -60px;
        display: inline-block;
        margin-right: 500px;
        margin-bottom: 200px;
        /* background-color: ; */
        position: relative;
        top: -60px;

        /* padding-right: 10px; */
        /* padding-top: 100px; */
    }

   
h1{
    font-size: 20px;
    font-weight: 900;
}

.topic{
    width: 500px;
    margin-left: 250px;
    margin-top: 200px;
    line-height: 50px;
    /* border: solid greenyellow; */
}

.soft{
    border:solid #D5EAF3;
    width:500px;
    height: 600px;
    background-color: #D5EAF3;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: Arial;
    margin-bottom: 30px;
    margin-top: 40px;
    /* position: relative; */
    margin-left: 250px;
    box-shadow: 0px 15px 6px 8px #E8F2E7;
    line-height: 30px;
    
}

#softpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.product{
    border: solid #E0D5C0;
    width: 500px;
    height: 600px;
    background-color: #E0D5C0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 250px;
    box-shadow: 0px 6px 6px 15px #E8F2E7;
    line-height: 30px;
}

#productpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.data{
    border: solid rgb(83, 81, 81) 1px;
    width: 500px;
    height: 600px;
    background-color: #EEEFBD;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 1350px;
    position: absolute;
    left: 840px;
    top: 1430px;
    box-shadow: 0px 15px 20px 8px #FFF0ED;
    line-height: 30px;
}

#datapic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.digital{
    border: solid rgb(83, 81, 81) 1px;
    width: 500px;
    height: 700px;
    background-color: #DFD5E8;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    left: 840px;
    bottom: 800px;
    box-shadow: 10px 6px 20px 15px #FFF0ED;
    line-height: 30px;
    font-weight: 400;
}

#digitalpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

a{
    /* margin-right: -20px; */
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#mainhead{
    font-weight: 700;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 56, 56);
    margin-top: 30px;
}

#subhead{
    color: rgb(82, 81, 81);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#wind{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
}

.whole{
    margin-top: 0px;
    /* border: blue solid; */
    /* padding-bottom: -2000px !important; */
    height: 1900px;
}

#model{
    float: right;   
    margin-right: 200px;
    border-radius: 20px;
    
}

h3{
    font-size: 72px;
    font-weight: 700;
    color: rgb(26,0,82);
    padding-top: 145px;
    line-height: 79.2px;
    font-family: Arial;
    padding-bottom: 5px;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    text-transform: none;
}

.Layer1{
    margin-top: 88px;
    margin-left: 224px;
    /* border: solid blue; */
    
}

#textbesidemodel{
    font-family: Arial;
    font-size: 16px;
    line-height: 28.8px;
    color: rgb(0, 0, 0);
    font-weight: 550;
    padding-left: 0px;
    margin-right: 818px;
}

#but{
    height: 57px;
    width: 132px;
    border-radius: 10px;
    background-color: rgb(0, 32, 138);
    color: white;
    letter-spacing: -0.14px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;


}

.glance{
    background-image: linear-gradient(to right, rgba(0,4,66,0.4), rgba(0,4,66,1)), url(img/classs.jpg);
    height: 555px;
    width: 1539px;
    background-size: 1555px 1539px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;

    
    
}


.word{
    /* display: inline-block; */
    color: white;
    width: 1516px;
    height: 549px;
    

}



#hea{
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 820px;
    margin-right: 100px;
    font-family: Arial;
    font-size: 28px;
    line-height: 28px;
    font-weight: 00;
    color: white;
    width: 400px;
    height: 50px;
    padding-top: 70px;
    

}

#glan{
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    font-family: Arial;
    height: 240px;
    margin-left: 820px;
    margin-right: 100px;
    display: inline-block;
    margin-top: -70px;

}

#learn{
    border: solid white 3px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    background-color: rgba(0, 0, 0,0.27);
    color: white;
    padding: 7px 10px 7px 10px;
    margin-left: 830px;
    margin-right: 100px;
    
}

#cert{
    color: #21A3F2;
    margin-left: 3px;
    
}

#diploma{
    color: #21A3F2;
    margin-left: 3px;
}

.alumni{
    height: 500px;
    margin-left: 254px;
    margin-top: 100px;
    
}
h5{
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 600;
    display: inline-block;
    width: 590px;
    height: 109px;

}

#google{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#paystack{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#edozzier{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#inter{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;

}

#andela{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#wema{
    height: 90px;
    width: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
}

#microsoft{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#brewery{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#army{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#clan{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
    
}

#money{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#credit{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}


#graduate{
    float: left;
    padding-top: 42px;
    padding-left: 65px;
}

#boast{
    margin-left: 800px;
    
}

#africa{
    color: rgb(51, 51, 51);
    font-size: 45px;
    line-height: 54px;
    letter-spacing: -0.9px;
    font-family: 'Poppins', sans-serif;
    vertical-align: baseline;
    font-weight: 600;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 110px;
    /* border: solid blue; */
}

#talk{
    color: rgb(102, 102, 102);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28.8px;
    letter-spacing: -0.16;
    font-weight: 500;
    text-align: left;
    text-transform: none;
    margin-bottom: 1000px;
    /* display: inline-block; */
    /* top: px; */
    margin-right: 150px;
    /* border: rgb(163, 163, 226) solid; */
    margin-left: 200px;

}

#all{
    background-color: #F0FAFF;
    /* border: solid blue; */
    height: 672px;
    margin-top: 20px;
}


#aa{
    /* border: solid blue; */
    width: 260px;
    height: 130px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 80px;
  }
  #a{
    /* border: solid blue; */
    width: 270px;
    height: 80px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
  }
  #b{
    /* border: solid blue; */
    width: 280px;
    height: 130px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
  }
  #c{
    /* border: solid blue; */
    width: 280px;
    height: 150px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
  }
  #d{
    /* border: solid blue; */
    width: 270px;
    height: 120px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
  }
  #e{
    /* border: solid blue; */
    width: 270px;
    height: 150px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
  }
  #f{
    /* border: solid blue; */
    width: 270px;
    height: 130px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
    margin-left: 15px;
  }
  #g{
    /* border: solid rgb(228, 0, 0); */
    width:  280px;
    height: 140px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 22.4px;
    font-weight: 500;
    font-family: Arial;
    padding-left: 70px;
    margin-left: 40px;
  }
  
  .reas1{
    display: flex;
    justify-content: space-around;
    
  }
  .reas2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
   
  }
  .reas3{
    display: flex;
    margin-top: 40px;
    
  }
  
  #pers{
    font-family: Arial;
    font-size: 19px;
    line-height: 26.6px;
    font-weight: 600;
    color: rgb(51, 51, 51);
    display: inline-block;
    margin-bottom: 10px;
  }
  
  h6{
    color: rgb(51, 51, 51);
    font-family: Arial;
    font-size: 48px;
    line-height: 57.6px;
    letter-spacing: normal;
    margin-bottom: 30px;
    padding-top: 30px;
    margin-left: 145px;
  }
  
  .persuasion{
    background-image: linear-gradient(to bottom, rgba(239,239,240, 0.1), rgba(239,239,240,1));
    height: 820px;
    /* border: solid aqua; */
    margin-top: -180px;
    /* background: linear-gradient() */
  }
  
  #comm{
      display: inline-block;
      /* border: solid tomato; */
      width: 50px;
      text-align: center;
      margin-left: 10px;
      margin-top: 10px;
      padding-top: 13px;
      padding-bottom: 13px;
      background-color: white;
      border-radius: 9px;

  }

  #expert{
    display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
    /* float: left; */
    /* margin-right: 0px; */
  }

  #virtual{
    /* float: left; */
    display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
  }
  
  #material{
      /* float: left; */
      display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
  }
  #certificate{
      /* float: left; */
      display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: -70px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
  }
  #hub{
      /* float: left; */
      display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
    margin-left: -70px;
  }
  #job{
    /* float: left; */
    display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: 0px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
    margin-left: -70px;
  }
  #support{
      /* float: left; */
      display: inline-block;
    /* border: solid tomato; */
    width: 50px;
    text-align: center;
    margin-left: -80px;
    margin-top: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: white;
    border-radius: 9px;
  }

  .why{
      margin-left: 200px;
      margin-right: 190px;
  }

  .tour{
    background-image: linear-gradient(to right, rgba(0,4,66,0.3), rgba(0,4,66,1)), url(/img/classs.jpg);
    height: 455px;
    width: 1539px;
    background-size: 1555px 1539px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 0px;
    background: linear-gradient(rgb(90, 90, 90, 0.4)rgb(90, 90, 90, 0.4));
  }
  
  #mouthing{
    display: inline-block;
    color: white;
    /* border: tomato solid; */
    margin-left: 700px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 82px;
    width: 606px;
    height: 177px;
    font-family: Arial;
    font-size: 16px;
    line-height: 28.8px;
    font-weight: 500;
    letter-spacing: -0.16px;
  
  }
  
  #dive{
    font-family: Arial;
    font-size: 48px;
    line-height: 57.6px;
    font-weight: 800;
    color: white;
    /* text-align: justify; */
    display: inline-block;
    color: white;
    /* border: tomato solid; */
    margin-left: 700px;
    margin-right: 300px;
    margin-top: 95px;
  }
  
  .push{
    border: solid #000B3F;
    height: 462px;
    background-color: #000B3F;
  
  
  
  }
  
  #level{
    text-transform: uppercase;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.4px;
    color: white;
    margin-left: 250px;
    margin-top: 85px;
  
  }
  
  #ready{
    font-family: Arial;
    font-size: 56px;
    line-height: 67.2px;
    font-weight: 700;
    color: white;
    margin-left: 250px;
    margin-top: 25px;
    /* border: solid tomato; */
  
  }
  
  #discipline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22.4px;
    letter-spacing: -0.14px;
    font-weight: 500;
    color: white;
    margin-left: 250px;
    /* border: solid goldenrod; */
    margin-right: 780px;
    margin-top: 20px;
  }
  
  #join-us{
    width: 130px;
    height: 50px;
    border-radius: 15px;
    color: white;
    background-color: #00208A;
    margin-left: 250px;
    margin-top: 20px;
  }
  
  #join-us:hover{
    cursor: pointer;
    
  }
  
  #youtube{
   /* border: 10px solid red; */
   border-radius: 20px;
  }
  
  #vid{
    display: inline-block;
    margin-left: 219px;
    height: 77px;
    margin-top: 70px;
  }
  
  .adventure{
    margin-top: -330px;
  }
  
  .news{
    /* border: solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -50px;
    
  }
  
  #jamb{
    /* border: solid tomato; */
    height: 500px;
    width: 345px;
    margin-top: 0px;
    background-color: white;
    font-family: Arial;
    line-height: 25.2px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-left: 200px;
  }
  #career{
    /* border: solid tomato; */
    height: 580px;
    width: 345px;
    margin-top: 0px;
    background-color: white;
    font-family: Arial;
    line-height: 25.2px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    font-size: 14px;
  }
  #tech-rush{
    /* border: solid tomato; */
    height: 500px;
    width: 345px;
    margin-top: 0px;
    background-color: white;
    font-family: Arial;
    line-height: 25.2px;
    font-weight: 500;
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-right: 200px;
  
  }
  
  #jamb-pic{
    width: 345px;
    height: 215px;
  }
  
  #thoughtful{
    width: 345px;
    height: 215px;
  }
  #delibration{
    width: 345px;
    height: 215px;
  }
  
  #rush{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
  }
  #jam{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
  }
  #reflect{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 500;
  }
  
   #topp{
    display: inline-block;
    width: 400px;
    height: 100px;
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    font-family: Arial;
   margin-top: 20px;
   margin-left: 200px;
    
  
  }
  
  #read-more{
    display: inline-block;
     height: 40px;
    margin-left: 500px;
    /* border: solid tomato; */
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #00208A;
    border-radius: 30px;
    color: white;
    text-decoration: none;
  
  } 
  
  .tidings{
    height: 925px;
    background-color: #F0F1FF;
  }
  
  .adress{
    height: 557px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .holla{
    /* border: solid tomato; */
    width: 180px;
    margin-left: 220px;
    margin-top: -200px;

  }
  .ibadan{
    /* border: solid tomato; */
    width: 180px;
    margin-top: -10px;
    font-family: Arial;
  }
  .abeokuta{
    /* border: solid tomato; */
    width: 180px;
    margin-right: 260px;
    margin-top: -230px;
    font-family: Arial;
  }
  .ogbomoso{
    /* border: solid tomato; */
    width: 180px;
    margin-top: -200px;
    font-family: Arial;
  }
  .quick-links{
    /* border: solid tomato; */
    width: 180px;
    margin-top: -130px;
    font-family: Arial;
  }
  
  #hola{
    color: rgb(12, 32, 100);
    font-family: Arial;
    font-size: 19px;
    line-height: 22.8px;
    letter-spacing: -0.14px;
    font-weight: 600;
    
  
  }
  
  #gen{
    color: rgb(51, 51, 51);
    font-family: Arial;
    letter-spacing: -0.14px;
    line-height: 19.5px;
    font-weight: 500;
    line-height: 22.4px;
  }
  
  #indi{
    text-decoration: none rgb(51, 51, 51);
    color:rgb(51, 51, 51);
    font-weight: 500;
    /* text-align: left; */
  
  }

  .foot{
      /* border: solid tomato; */
      background-color: #050044;
      text-align: center;
      color: white;
      padding-top: 10px;
      padding-bottom: 10px;
  }

  #enquire{
      color: #4686ff;
      font-size: 15px;
  }


  @media screen and (min-width: 0px) {
    .foot{
      color: rgb(9, 18, 24);
      background-color: rgb(255, 255, 255);
    }
  }

  @media screen and (min-width: 481px) {
    .foot{
      color: purple;
      background-color: rgb(209, 57, 7);
    }
  }

  @media screen and (min-width: 769px) {
    .foot{
      color: gray;
      background-color: darkcyan;
    }
  }

  @media screen and (min-width: 1025px){
    .foot{
      color: tomato;
      background-color: burlywood;
    }
  }


  @media screen and (min-width: 1201px){
    .foot{
      color: whitesmoke;
      background-color: beige;
    }

  }

 
 
 
 