*{
    margin: 0;
    padding: 0;
}

.headd{
    background-color: white;
    border: rgb(230, 230, 230) solid 1px;
    height: 87px;
    width: 2000px;
    position: fixed;
    top: 0px;
    z-index: 1;
    /* margin-right: -200px; */
    }

    #pic{
        height: 87px;
        margin-left: 203px;
    }

    a{
        margin-left: 19px;
        font-family: sans-serif, 'Times New Roman', Times, serif;
        color: #0d164b;
        /* padding-bottom: 10px; */
        text-decoration: none;
    }

    .info{
        margin-left: 664px;
        margin-top: -60px;
        /* padding-top: 100px; */
    }

     

    a{
        margin-left: 19px;
        font-family: sans-serif, 'Times New Roman', Times, serif;
        color: #081458;
        padding-bottom: 10px;
        text-decoration: none;
    }

    .info{
        margin-left: 664px;
        margin-top: -60px;
        display: inline-block;
        margin-right: 500px;
        margin-bottom: 200px;
        /* background-color: ; */
        position: relative;
        top: -60px;

        /* padding-right: 10px; */
        /* padding-top: 100px; */
    }

   
h1{
    font-size: 20px;
    font-weight: 900;
}

.topic{
    width: 500px;
    margin-left: 250px;
    margin-top: 200px;
    line-height: 50px;
    /* border: solid greenyellow; */
}

.soft{
    border:solid #D5EAF3;
    width:500px;
    height: 600px;
    background-color: #D5EAF3;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: Arial;
    margin-bottom: 30px;
    margin-top: 40px;
    position: relative;
    margin-left: 250px;
    box-shadow: 0px 15px 6px 8px #E8F2E7;
    line-height: 30px;
    
}

#softpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.product{
    border: solid #E0D5C0;
    width: 500px;
    height: 600px;
    background-color: #E0D5C0;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 250px;
    box-shadow: 0px 6px 6px 15px #E8F2E7;
    line-height: 30px;
}

#productpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.data{
    border: solid rgb(83, 81, 81) 1px;
    width: 500px;
    height: 600px;
    background-color: #EEEFBD;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 1350px;
    position: absolute;
    left: 840px;
    top: 740px;
    box-shadow: 0px 15px 20px 8px #FFF0ED;
    line-height: 30px;
}

#datapic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.digital{
    border: solid rgb(83, 81, 81) 1px;
    width: 500px;
    height: 700px;
    background-color: #DFD5E8;
    border-radius: 20px;
    text-align: center;
    padding: 40px 7px 10px 7px;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    left: 840px;
    bottom: 820px;
    box-shadow: 10px 6px 20px 15px #FFF0ED;
    line-height: 30px;
    font-weight: 400;
}

#digitalpic{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

a{
    /* margin-right: -20px; */
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#mainhead{
    font-weight: 700;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(58, 56, 56);
    margin-top: 30px;
}

#subhead{
    color: rgb(82, 81, 81);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#wind{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
}

.whole{
    margin-top: 0px;
    /* border: blue solid; */
}

#modell{
    float: right;   
    margin-right: 200px;
    border-radius: 20px;
    
}

h3{
    font-size: 72px;
    font-weight: 700;
    color: rgb(26,0,82);
    padding-top: 145px;
    line-height: 79.2px;
    font-family: Arial;
    padding-bottom: 5px;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    text-transform: none;
}

.model{
    margin-top: 88px;
    margin-left: 224px;
    /* border: solid blue; */
    
}

#intro{
    font-family: Arial;
    font-size: 16px;
    line-height: 28.8px;
    color: rgb(0, 0, 0);
    font-weight: 550;
    padding-left: 0px;
    margin-right: 818px;
}

#but{
    height: 57px;
    width: 132px;
    border-radius: 10px;
    background-color: rgb(0, 32, 138);
    color: white;
    letter-spacing: -0.14px;
    font-size: 14px;
    font-family: Arial;
    font-weight: 600;


}

.glance{
    background-image:url(/DSC_9054-scaled.jpg);
    height: 555px;
    width: 1539px;
    background-size: 1555px 1539px;
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 50px;
    
    
}


.word{
    display: inline-block;
    color: white;
    /* border: tomato solid; */
    margin-left: 792px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 82px;
    width: 506px;
    height: 377px;

}

h4{
    font-family: Arial;
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
    color: white;
    text-align: justify;
}

#glan{
    color: white;
    font-size: 14px;
    font-weight: 500;
    line-height: 23.8px;
    font-family: Arial;

}

#learn{
    border: solid white 3px;
    font-size: 20px;
    line-height: 34px;
    font-weight: 500;
    background-color: rgba(0, 0, 0,0.27);
    color: white;
    padding: 7px 10px 7px 10px;
    /* display: inline-block; */
    /* margin-top: 710px; */
    
}

#cert{
    color: #21A3F2;
    margin-left: 3px;
}

#diploma{
    color: #21A3F2;
    margin-left: 3px;
}

.alumni{
    /* border: solid blue; */
    height: 500px;
    margin-left: 254px;
    margin-top: 100px;
    /* background-color: rgb(255, 231, 231); */
}
h5{
    color: rgb(51, 51, 51);
    font-family: 'Poppins', sans-serif;
    font-size: 27px;
    line-height: 32.4px;
    font-weight: 600;
    display: inline-block;
    width: 590px;
    height: 109px;

}

#google{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#paystack{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#edozzier{
    margin-right: 100px;
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#inter{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;

}

#andela{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#wema{
    height: 90px;
    width: 150px;
    margin-bottom: 50px;
    margin-right: 50px;
}

#microsoft{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#brewery{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#army{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#clan{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
    /* margin-right:   400px; */
}

#money{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}

#credit{
    height: 50px;
    width: 200px;
    margin-bottom: 50px;
}